@{
    ViewData["Title"] = "About Us";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title">@ViewData["Title"]</h1>
                    <hr />
                    <div>
                        <p>Welcome to BookStore - your destination for manga, anime, and graphic novels!</p>
                        <p>Our store takes pride in offering an extensive collection of the latest and rarest editions, curated to meet the diverse tastes of manga enthusiasts. Explore our shelves filled with beloved series, collectibles, and much more.</p>
                        <p>Discover the stories that resonate with you, embark on thrilling adventures, and immerse yourself in captivating worlds.</p>
                        <p>Join our community today and share your passion for manga and anime with fellow fans!</p>
                        <a href="https://discord.gg/gB47nj7B" class="btn btn-primary">Contact Us in Discord</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
